<div class="p-10">
  <button class="btn btn-primary">DaisyUIのボタン</button>
  <div class="alert alert-success mt-4">
    Tailwind v4 + DaisyUI が動いています！
  </div>
</div>

<h1>StaticPages#top</h1>
<p>Find me in app/views/static_pages/top.html.erb</p>
